@using Newtonsoft.Json
@model GraParagrafowa.Models.GameDTO

@{
    ViewData["Title"] = "Odtwarzacz";
}

@section head {
    <link rel="stylesheet" href="~/css/player.css" />
    <script src="~/js/Player.js"></script>
}

<div id="main-header">
    <div>
        <h2 style="display:inline;">Odtwarzacz |</h2>
        <h3 id="storyTitle" style="display:inline;">Nazwa historii: @Model.story.Name</h3>
    </div>
    <div id="controls">
        <img src="~/images/play-button.png" alt="Play" id="playButton" title="Play" />
        <img src="~/images/stop-button.png" alt="Stop" id="stopButton" title="Stop" />
    
    </div>
</div>
<div id="main">
    <div id="storyContainer">
        <div id="blockDescription">
            <b><i>Naciśnij "Play" aby rozpocząć...</i></b>
        </div>
        <div id="choicesContainer"></div>
    </div>
</div>

@* @foreach (var item in @Model.HistoryBlocks)
{
    foreach (var item2 in @item.Choices){
        @item2.Text
    }
} *@

@* @foreach(var item in @Model.choice_list)
{
    @item.SourceBlock
} *@

<script>
    // Definicja danych modelu w formacie JSON
    var gameData = @Html.Raw(JsonConvert.SerializeObject(Model));
    console.log(gameData);
    //console.log("DTO: ", dto)
    //console.log("name: ", story.Name);


    //Inicjalizacja odtwarzacza po załadowaniu strony
    $(document).ready(function () {
        initializePlayer(gameData);
    });
</script>
